
/* General */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

*{
    font: lighter 16px "Lora", serif;
    color: #555;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Titles */
h1 {
    font: lighter 50px "Yeseva One", serif;
    color: #555;
    margin: 3px
}

h2 {
    font: 30px "Yeseva One", serif;
    color: #AAA;
    margin: 20px 0 10px;
}

h3 {
    font: bold 18px "Yeseva One", serif;
    color:#555;
    margin: 3px;
}

h4 {
    font: bold 17px "Lora", serif;
    color: #555;
    margin: 3px;
}

/**** CONTENTS ****/
.title-bar {
    margin: 40px -15px 10px;
}

/*to align logo to left*/
.left-block {
    display: block;
    margin-left: 0;
    margin-right: auto;
}

.title-divider {
    border: 2px solid #bcbbbb;
    margin: 0 0 10px;
}

/*spacing amongst projects*/
.projects {
    margin: 20px 0;
}

.project-images{
    min-width: 48px;
    min-height: 48px;
}

.description {
    margin: 20px 8px 3px;
}

.title{
    text-align: right;
}

@media screen and (max-width: 500px) {
    .logo{
        width: 72.8px;
        height: 58.1px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }

    h4 {
        font-size: 14px;
    }

    .title-bar {
        margin: 20px -15px 10px;
    }
}
