
/* General */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

*{
    font: lighter 16px "Lora", serif;
    color: #555;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* Titles */
h1 {
    font: lighter 50px "Yeseva One", serif;
    color: #555;
    margin: 3px
}

h2 {
    font: 30px "Yeseva One", serif;
    color: #AAA;
    margin: 20px 0 10px;
}

h3 {
    font: bold 18px "Yeseva One", serif;
    color:#555;
    margin: 3px;
}

h4 {
    font: bold 17px "Lora", serif;
    color: #555;
    margin: 3px;
}

/**** CONTENTS ****/
.title-bar {
    margin: 40px -15px 10px;
}

/*to align logo to left*/
.left-block {
    display: block;
    margin-left: 0;
    margin-right: auto;
}

.title-divider {
    border: 2px solid #bcbbbb;
    margin: 0 0 10px;
}

/*spacing amongst projects*/
.projects {
    margin: 20px 0;
}

/*to ensure image is easy to click*/
.project-images{
    min-width: 48px;
    min-height: 48px;
}

.description {
    margin: 20px 8px 3px;
}

.title {
    text-align: right;
}

/*Media queries for responsive design*/
@media screen and (max-width: 510px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 29px;
    }

    h4 {
        font-size: 15px;
    }

    .title-bar {
        margin: 20px -15px 10px;
    }

    .logo {
        max-width: 80%;
        max-height: 80%;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 25px;
    }

    h4 {
        font-size: 13px;
    }
}

@media (max-width: 319px) {
    .logo {
        display: none;
    }

    .title {
        text-align: center;
    }

    /*Custom columns*/
    .col-xxs-0, .col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8, .col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
      float: left;
    }

    .col-xxs-12 {
      width: 100%;
    }

    .col-xxs-11 {
      width: 91.66666667%;
    }

    .col-xxs-10 {
      width: 83.33333333%;
    }

    .col-xxs-9 {
      width: 75%;
    }

    .col-xxs-8 {
      width: 66.66666667%;
    }

    .col-xxs-7 {
      width: 58.33333333%;
    }

    .col-xxs-6 {
      width: 50%;
    }

    .col-xxs-5 {
      width: 41.66666667%;
    }

    .col-xxs-4 {
      width: 33.33333333%;
    }

    .col-xxs-3 {
      width: 25%;
    }

    .col-xxs-2 {
      width: 16.66666667%;
    }

    .col-xxs-1 {
      width: 8.33333333%;
    }

    .col-xxs-0 {
      width: 0;
    }
}